.footer__map{
  background: url("../img/footer-bg.jpg") no-repeat center top;
  height: 520px;
  position: relative;
  overflow: hidden;
}
.map {
  height: 100%;
  position: relative;
  transform: translateY(100%);
  transition: .5s;
  z-index: 10;
}
.form__wrapper{
  position: relative;
  top: -500px;
  right: -35px;
}
.form{
  background-color: rgba(0, 0, 0, .9);
  padding: 50px 20px 50px 40px;
  width: 60%;
  margin-left: auto;
  position: relative;
  z-index: 15;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  text-align: center;
}
.form::after{
  content: '';
  position: absolute;
  width: 1px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 45%;
}
.form h5{
  font-size: 24px;
  line-height: 30px;
}
.form__callback h5{
  margin-bottom: 25px;
}
.form__contacts h5{
  padding-left: 70px;
}
.form__callback{
  width: 35%;
  box-sizing: border-box;
}
.form__callback input,
.form__callback textarea{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #7c797a;
  width: 100%;
  margin-bottom: 30px;
  padding-left: 15px;
  color: #ffffff;
}
.form__callback input:focus,
.form__callback textarea:focus{
  border-color: #fff;
  outline: none;
}
.form__contacts{
  width: 50%;
  text-align: left;
  padding-left: 10px;
}
.form__contacts p{
  position: relative;
  padding-left: 70px;
  margin: 40px 0;
}
.form__contacts p::before{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  background: url("../img/sprite.png") no-repeat;
}
.form__contacts .form__contacts--street::before{
  background-position: -5px -189px;
}
.form__contacts .form__contacts--street:hover::before{
  opacity: .5;
}
.form__contacts .form__contacts--email::before{
  background-position: -9px -289px;
}
.form__contacts .form__contacts--email:hover::before{
  opacity: .5;
}
.form__contacts .form__contacts--phone::before{
  background-position: -9px -428px;
}
.form__contacts .form__contacts--phone:hover::before{
  opacity: .5;
}
.footer__social{
  padding-left: 60px;
  display: flex;
  justify-content: flex-start;
}
.social__btn{
  width: 45px;
  height: 40px;
  background: url("../img/sprite.png") no-repeat;
}
.social__btn--insta{
  background-position: -2px -92px;
}
.social__btn--insta:hover,
.social__btn--fb:hover,
.social__btn--vk:hover{
  opacity: .5;
}
.social__btn--fb{
  background-position: 4px -2px;
}
.social__btn--vk{
  background-position: -9px -524px;
}
.social__btn--owl{
  width: 47px;
  background-position: -8px -382px;
}
.social__btn--youtube{
  width: 40px;
  background-position: -8px -612px;
}
.footer__bottom .social__btn{
  opacity: .5;
}
.footer__bottom .social__btn:hover{
  opacity: 1;
}
.footer__social--bottom{
  position: absolute;
  right: -20px;
  top: 65px;
}
.form__submit{
  width: 200px;
  height: 73px;
  background: url("../img/btn-footer.png") no-repeat center;
  display: flex;
  justify-content: center;
  align-content: center;
  border: none;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: .05em;
  cursor: pointer;
}
.form__submit:hover{
  transform: scale(1, -1);
}
.form__submit:hover span{
  transform: scale(1, -1);
}

.footer__bottom{
  padding: 85px 0 25px;
  position: relative;
}
.footer__copyright{
  font-family: 'Cormorant Infant', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: #fffdf2;
  text-transform: uppercase;
}

::-webkit-input-placeholder {font-size: 12px; color: #fff; opacity:.25;}
::-moz-placeholder          {color:#c0392b;}/* Firefox 19+ */
:-moz-placeholder           {color:#c0392b;}/* Firefox 18- */
:-ms-input-placeholder      {color:#c0392b;}

@media (min-width: 320px) and (max-width: 767px){
  .footer__social--bottom{
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .footer__bottom{
    text-align: center;
    padding: 0 0 60px;
  }
  .footer__map{
    background-position: -200px;
    height: 600px;
  }
  .form{
    padding: 20px;
    background-color: rgba(0, 0, 0, .7);
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .form::after{
    width: 0;
  }
  .form__callback,
  .form__contacts{
    width: 100%;
  }
  .form__callback h5{
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
  }
  .form__contacts h5{
    padding: 0;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
  }
  .form__contacts p{
    margin: 20px 0;
    font-size: 14px;
    line-height: 18px;
  }
  .form__wrapper{
    right: 0;
    top: -550px;
  }
  .form__submit{
    font-size: 14px;
    width: 150px;
    height: 50px;
    background-size: contain;
    margin: auto;
  }
  .form__callback input,
  .form__callback textarea{
    margin-bottom: 5px;
  }
  .footer__social{
    justify-content: space-around;
    padding: 0;
  }
  .form__contacts{
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 1000px){
  .form{
    padding: 20px;
    background-color: rgba(0, 0, 0, .7);
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .form__wrapper{
    right: -70px;
  }
  .footer{
    background-color: #000;
  }
}

@media (min-width: 1001px) and (max-width: 1200px){
  .footer{
    background-color: #000;
  }
}
