@import "header.less";
@import "crazyMenu.less";
@import "about.less";
@import "footer.less";
@import "video.less";

body{
  background: #000 url("../img/body-bg.jpg") no-repeat center top;
  margin: 0;
}
img{
  max-width: 100%;
  height: auto;
}
